.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.2rem 2rem;
    z-index: 10000;
}

.shadow {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}

.logo {
    display: flex;
    justify-content: flex-start;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-bar ol {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2;
    list-style: none;
    margin: 0;
}

.nav-bar ol li {
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 500;
}

.nav-bar ol li:hover {
    color: #53825E;
    cursor: pointer;
}

.language:hover {
    cursor: pointer;
}

.language p {
    margin: 0;
    margin-right: 1rem;
    font-weight: 500;
    font-style: none;
    user-select: none;
}

.button-login button {
    color: #53825E;
    font-weight: 500;
    padding: .4rem 1.5rem;
    border: 2px solid #53825E;
    border-radius: 10px;
    background: transparent;
}

.menu-toggle {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 20px;
    justify-content: space-around;
    display: none;
    z-index: 10001;
    right: -7rem;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: #4F5665;
    border-radius: 3px;
    transition: all .5s;
}

.menu-toggle input {
    position: absolute;
    width: 29px;
    height: 28px;
    opacity: 0;
    cursor: pointer;
    /* z-index: 11; */
}

/* hamburger animation */
.menu-toggle span:nth-child(2) {
transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
    }

.menu-toggle input:checked ~ span:nth-child(2) {
    background-color: black;
    transform: rotate(45deg) translate(-1px, -2px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
    background-color: black;
    transform: rotate(-45deg) translate(-1px, 3px);
}

.menu-toggle input:checked ~ span:nth-child(3) {
    opacity: 0;
    transform: scale(0);
}

.navbar ol {
    position: absolute;
    right: 0;
    top: 5rem;
    width: 90%;
    height: 90vh;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    flex-direction: column;
    z-index: 10000;
    transform: translateY(-100%);
    transition: 1s;
    opacity: 0;
    display: flex;
    list-style: none;
}

.navbar ol.slide-bar {
    opacity: 1;
    transform: translateY(0);
}

.navbar {
    display: none;
}

.navbar section {
    display: none;
}

.navbar section {
    display: flex;
    position: absolute;
    top: 6rem;
    right: 4rem;
    background-color: white;
    height: 4vh;
    align-items: center;
    transform: translateY(-1000%);
    transition: 1s;
    opacity: 0;
}

.navbar section.slide-bar {
    transform: translateY(0);
    opacity: 1;
}

.navbar section .searching {
    gap: 0;
}

.navbar section .searching input {
    opacity: 1;
}

.navbar section .searching img {
    display: none;
}

@media screen and (max-width: 390px) {
    .container {
        padding: 1rem 0;
    }

    .menu-toggle {
        display: flex;
    }

    .logo img {
        width: 150px;
    }

    .language, .button-login {
        display: none;
    }

    .nav-bar {
        display: none;
    }

    .navbar {
        display: block;
    }
}