.title-content {
    text-align: center;
    padding: 2rem;
}

.title-content h1 {
    color: #195A32;
    font-size: 36px;
    font-weight: 600;
}

.title-content h2 {
    color: #6A6A6A;
    font-size: 20px;
    font-weight: 500;
}

.dropdown {
    display: flex;
    justify-content: space-between
}

.select {
    width: 255px;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.sort-container {
    background-color: #195A32;
    width: 40px;
    aspect-ratio: 1;
    border-radius: 5px;
}

.sort-container:hover {
    cursor: pointer;
}

.sort-container i {
    color: white;
    font-size: 1.4rem;
    text-align: center;
    padding: 0.5rem;
}

.search-bar {
    border: 1px solid #6A6A6A;
    border-radius: 5px;
    padding: .3rem;
}

.search-bar input {
    max-width: 200px;
    border: none;
    outline: none;
}

.search-bar i {
    color: #6A6A6A;
    padding-right: 1rem;
}

.search-bar i:hover {
    cursor: pointer;
}

.card-container {
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;
    padding: 2rem 0;
}

.card {
    width: 327px;
    background: #FFFFFF;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 0 1.5rem 1rem;
}

.wrapper {
    position: relative;
    width: 100%;
    height: 15px;
    background: #FFFFFF;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1rem 0;
}

.bar {
    width: 100%;
    height: 15px;
    position: absolute;
    background: #195A32;
    border-radius: 10px;
}

.image-wrapper {
    position: relative;
}

.image-wrapper img {
    position: relative;
    left: -29px;
    width: 340px;
    object-fit: cover;
}

.image-wrapper:hover .going-container {
    opacity: 1;
    transition: all ease-in-out .8s;
}

.syirkah {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.syirkah p {
    margin: 0;
    font-size: 12px;
    font-weight: 400;
}

.code p {
    margin: 0;
    color: #195A32;
    font-size: 16px;
    font-weight: 600;
}

.name {
    color: #6A6A6A;
    font-size: 13px;
    font-weight: 400;
}

.price {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.title p {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
}

.title-right p {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    text-align: right;
}

.amount p {
    margin: 0;
    color: #195A32;
    font-size: 14px;
    font-weight: 600;
}

.amount-right p {
    margin: 0;
    text-align: right;
    color: #195A32;
    font-size: 14px;
    font-weight: 600;
}

.content {
    display: flex;
    justify-content: space-between;
}

.content .left ol, .content .right ol {
    padding: 0;
}

.content .left ol li {
    list-style: none;
    color: #6A6A6A;
    font-size: 14px;
    font-weight: 400;
    padding: .2rem 0;
}

.content .right ol li {
    list-style: none;
    text-align: right;
    color: black;
    font-size: 14px;
    font-weight: 500;
    padding: .2rem 0;
}

.button button {
    position: relative;
    right: -11rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    background: #195A32;
    border: none;
    border-radius: 10px;
    padding: .5rem 1rem;
}

.button button:hover {
    opacity: .8;
    transition: all .5s;
}

.button button p {
    margin: 0;
    color: white;
}

.button button i {
    margin: 0;
    color: white;
}

.to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: black;
    font-size: 2rem;
    z-index: 100;
    /* display: none; */
}

.to-top:hover {
    cursor: pointer;
}

.to-top.show {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: black;
    font-size: 2rem;
    z-index: 100;
    animation: slideIn 0.5s ease-out;
}

.to-top.hide {
    animation: slideOut 0.5s ease-out;
    opacity: 0;
    display: none;
}

.shadow {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    margin: 2rem 0 4rem;
    padding: 4rem 10rem;
}

.left .top h1 {
    margin: 0;
    color: #195A32;
    font-size: 36px;
    font-weight: 700;
}

.left .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .8rem 0;
}

.left .bottom h2 {
    color: #195A32;
    font-size: 24px;
    font-weight: 500;
}

.left .bottom button {
    background-color: #F5A856;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: .5rem 1rem;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
}

.left .bottom button:hover {
    opacity: .8;
    transition: all .8s;
}

.done-container {
    position: absolute;
    top: 1.9px;
    right: -26px;
    width: 329px;
    height: 218px;
    background-color: rgba(25, 90, 50, 0.8);
    border-radius: 10px;
}

.going-container {
    position: absolute;
    top: 1.9px;
    right: -26px;
    width: 329px;
    height: 218px;
    background-color: rgba(25, 90, 50, 0.8);
    border-radius: 10px;
    opacity: 0;
}

.time-container {
    position: absolute;
    top: 1.9px;
    right: -26px;
    width: 329px;
    height: 218px;
    background-color: rgba(25, 90, 50, 0.8);
    border-radius: 10px;
}

.done {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 4rem 4rem;
    border: 2px solid white;
    border-radius: 5px;
}

.time {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 4rem 4rem;
    border-radius: 5px;
    background-color: white;
}

.logo-wrapper {
    position: absolute;
    top: -3px;
    left: 3rem;
    height: 5px;
    background-color: rgba(25, 90, 50);
    padding: 0 1rem;
}

.done img {
    width: 71px;
    position: relative;
    left: 0px;
    top: -12px;
}

.done h1 {
    color: #195A32;
    font-size: 20px;
    font-variant: inherit;
    text-align: center;
    padding: 2rem 0;
    margin: 0;
    /* -webkit-text-stroke: 1px white; width and color */
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.time .countdown {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(180deg, #195A32 0%, #4ECB71 100%);
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    padding: .5rem 0;
    margin: 0;
    /* -webkit-text-stroke: 1px white; width and color */
    /* text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white; */
}

.time .title {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(180deg, #195A32 0%, #4ECB71 100%);
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    padding-top: .5rem;
    margin: 0;
    /* -webkit-text-stroke: 1px white; width and color */
    /* text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white; */
}